anyio
certifi
click
colorama
diskcache
exceptiongroup
faiss-cpu
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
llama_cpp_python
MarkupSafe
mpmath
networkx
numpy
packaging
psutil
pypdf
PyYAML
regex
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typer-slim
typing_extensions
